@font-face {
    font-family: 'Ubuntu';
    src: url(../Fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Ubuntu Bold';
    src: url(../Fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url(../Fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../Fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Inter Medium';
    src: url(../Fonts/Inter-Medium.ttf);
}

.wrapp{
    max-width: 1200px;
    margin: auto;
}

/*header start*/

.header{
    margin-top: 20px;
    padding-right: 10px; 
    padding-left: 10px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: solid 1px #E2E3EF;
    
}
.log{
    display: flex;
}
.log-text{
    margin-left: 10px;
    margin-top: 3px;
}
.log-text1{
    font-family: 'Ubuntu Bold';
    font-size: 24px;
    color:#F35A05;
    margin-bottom: 6px;
}
.log-text2{
    font-family: 'Inter Medium';
    font-size: 13px;
    color:#07040C;
}
.nav{
    margin-top: 20px;
}
.nav_sp{
    list-style-type: none;
    display: flex;
}
.nav_pt{
    margin-right: 40px;
    font-family: 'Ubuntu Medium';
    font-size: 14px;
    text-transform: uppercase;
}
.nav_pt:last-child{
    margin-right: 0;
}
.nav_pt:hover{
    opacity: 50%;
}
.reg{
    display: flex;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: 'Ubuntu Medium';
    font-size: 14px;
}
.reg_text{
    margin-right: 20px;
    padding-top:13px;
    text-transform: uppercase;
}
.reg_butt{
    border: solid 1px black;
    border-radius: 30px;
    padding: 12px 20px 12px 20px;
    text-transform: uppercase;
}
.reg_butt:hover{
    background-color: gray;
    cursor: pointer;
}

/*header end*/

/* main start */

.main_up{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}
.main_up_text>h1{
    font-family: 'Ubuntu Bold';
    font-size: 60px;
}
.main_up_text>p{
    font-family: 'Inter';
    font-size: 20px;
    color:#585967;
    line-height: 29px;
    margin-bottom: 40px;
}
.main_up_text>p>span{
    color:#F35A05
}
.reg-but{
    display: flex;
}
.reg-but>button{
    background-color: #F35A05;
    padding: 22px 56px 22px 56px;
    border-radius: 30px;
    color: white;
    border: 0;
    font-family: 'Ubuntu Bold';
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 30px;
    }
.reg-but>button:hover{
    opacity: 75%;
}
.reg-but>div{
    font-family: 'Inter';
    font-size: 16px;
    color: #808296;
    padding-top: 10px;
}
.main_grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-bottom: 130px;
}
.main_grid_col>p{
    font-family: 'Ubuntu Bold';
    font-size: 24px;
    padding-right: 15px;
    margin-bottom: 15px;
}
.main_grid_col>span{
    font-family: 'Inter';
    font-size: 16px;
    color: #585967;
    padding-right: 50px;
    display: inline-block;
}
.nou-xau{
    text-align: center; 
    margin-bottom: 40px;
}
.nou-xau>span{
    font-family: 'Ubuntu Bold';
    font-size: 46px;
}
.nou-xau>p{
    font-family: 'Inter';
    font-size: 20px;
    color: #585967;
}
.nou-xau_grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.info-grid{
    display: grid;
    grid-template-columns: max-content 100%;
    border: 1px dashed black;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}
.info-grid:hover{
    border: 0;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.info-grid-col1{
    background: url(../img/fon.svg);
    display:inline;
    padding: 3px 4px 2px 3px;
    height: max-content;
}
.info-grid-col2{
    margin-left: 15px;
}
.info-grid-col2>p{
    margin-top: 0px;
    font-family: 'Ubuntu Bold';
    font-size: 24px;
    margin-bottom: 15px;
}
.info-grid-col2>span{
    font-family: 'Intro';
    font-size: 16px;
    color: #585967;
}
.info-grid-col2>span>ul>li{
    list-style-type: decimal;
    margin-left: 15px;
}
/*main end*/
